h1.text-center New book
.container
  .form-group
    label(for='book') Title:
      input.form-control(type='text', name='book')
  .form-group
    label(for='book') Description:
      input.form-control(type='text', name='book')
  button.btn.btn-primary(type='submit') Search