h1.text-center Edit book
.container
  .form-group
    label(for='title') Title:
      input.form-control(type='text', name='title' value='')
  .form-group
    label(for='description') Description:
      input.form-control(type='text', name='description' value='')
  button.btn.btn-primary(type='submit') Save