extend ./layout/common.pug
block content
  h1.text-center This is index page
  .container
    a.mr-4(href='/books') Show books
    a.mr-4(href='/users') Show users
     a.mr-4(href='/transactions') Show transactions