extend ./layout/common.pug
block content
  h1.text-center this is transaction page
  .container
    a.btn.btn-primary.mb-3(href='/transactions/create') New user
    ul 
      each user in users
        li.mb-3= user.name + ' ' + user.email + ' ' + user.phone
          a.btn.btn-danger.ml-3.float-right(href='/users/'+ user.id + '/delete' ) Delete
          a.btn.btn-warning.ml-3.float-right(href= '/users/'+ user.id ) Edit