extend ./layout/common.pug
block content
  h1.text-center this is user page
  .container
    a.btn.btn-primary.mb-3(href='/users/create_user') New user
    ul 
      each user in users
        li.mb-3= user.name 
          a.btn.btn-danger.ml-3.float-right(href='/books/'+ user.id + '/delete' ) Delete
          a.btn.btn-warning.ml-3.float-right(href= '/books/'+ user.id ) Detail